*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #b0dde7;
}
.header {
    background-color: yellow;
    color: black;
    height: 75px;
    text-align: center;
    border-radius: 25px;
    padding-top: 30px;
}
.main #content1 {
    background-color: blue;
    color: yellow;
    width: 60%;
    /* margin: auto; */
    border-radius: 25px;
    text-align: left;
    padding: 35px;
    margin-top: 30px;
    margin-left: 350px;
}
.main #content2 {
    background-color: blue;
    color: yellow;
    width: 60%;
    /* margin: auto; */
    border-radius: 25px;
    text-align: left;
    padding: 35px;
    margin-top: 30px;
    margin-left: 350px;

}
.main img {
    margin: 0px 20px 0 20px;
    float: left;
}